<input type="text" class="form-control" placeholder="Search..." [(ngModel)]="itName" (input)="Search()">


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- ItemID Column -->
      <ng-container matColumnDef="ItemID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.ItemID}} </td>
      </ng-container>
    
      <!-- ItemName Column -->
      <ng-container matColumnDef="ItemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ItemName}} </td>
      </ng-container>
    
      <!-- ItemDescription Column -->
      <ng-container matColumnDef="ItemDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.ItemDescription}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
